* {
    margin: 0;
    padding: 0; 
    background-color: #5F46FF;


}

.title {
    color: white;
    font-family: poppins, sans-serif; 
}

.index {
    border-radius: 60px;
    padding: 10px;
    font-family: poppins, sans-serif;


}

.header {
    display: flex;
    
    ;
}
